extends layout.pug

block content
  div.container
    h1.pageTitle #{pageTitle}
    img(src='/' + loggedInUser.avatarUrl, width='100', height='100')
    form#edit-form(method='POST', enctype='multipart/form-data')
      if errMsg
        span=errMsg
      label(for='avatar') 아바타
      input(id='avatar', name='avatar', type='file', accept='*/image')
      input(name='name', placeholder='Name', type='text', required, value=loggedInUser.name)
      input(name='email', placeholder='Email', type='email', required, value=loggedInUser.email)
      input(name='username', placeholder='Username', type='text', required, value=loggedInUser.username)
      input(name='location', placeholder='Location', type='text', required, value=loggedInUser.location)
      input(type='submit', value='프로필 수정')
      if(!loggedInUser.socialOnly)
        a(href='/users/change-password') 비밀번호 변경